{% extends 'FlatbelFlatBundle::layout.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('slider/css/iThing.css') }}" rel="stylesheet" type="text/css"/>
    {{ parent() }}
{% endblock %}

{#{% block slide %}#}
    {#<div data-simulate-touch="false" data-autoplay="3500" data-slide-effect="fade"#}
         {#class="swiper-container swiper-slider">#}
        {#<div class="swiper-wrapper">#}
            {#<div data-slide-bg="{{ asset('img/slide-1.jpg') }}" class="swiper-slide"></div>#}
            {#<div data-slide-bg="{{ asset('img/slide-2.jpg') }}" class="swiper-slide"></div>#}
            {#<div data-slide-bg="{{ asset('img/slide-3.jpg') }}" class="swiper-slide"></div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block body %}




<div class="container">
<div class="row">
                {% for City in City %}
                    <h1 style="text-align:center;">{{ City.h1 }}</h1>

                {% endfor %}


        {% for flat in flats %}
            <div class="col-md-4 col-sm-4">
                <div class="an-listing-single">
                    <a href="{{ path('FlatbelFlatBundle_flat_show', { 'city':city,'description': flat.description,'id': flat.id }) }}">
                    <div class="listing-img-container"
                         style="background: url('{% path flat.mainphoto, 'big' %}') center center no-repeat;
                                 background-size: cover;">
                        <span class="an-badge bg-property">{{ flat.city }}</span>


                        <div class="listing-hover-content">

                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i> {{ flat.telnumber }}

                            </p>


                                <span class="an-btn an-btn-black icon-left small-padding">

                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        Подробнее...

                                </span>

                            <p style="color:white; text-align:center; font-size:11px;">{{ flat.about(140) }}...</p>
                        </div>
                    </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-name">


                                <h3 style="font-size:16px; "><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <a href="{{ path('FlatbelFlatBundle_flat_show', { 'city':city,'description': flat.description,'id': flat.id }) }}">{{ flat.streettype }} {{ flat.street }}- {{ flat.home }}</a>
                                </h3>

                            <i class="fa fa-subway" style="color: #637783;" aria-hidden="true"></i><span style="color: #637783; font-size:13px;"> Ст. м. {{ flat.metro }}</span>
                        </div>

                        <div class="listing-meta"><span><i class="fa fa-building-o"
                                                           aria-hidden="true"></i> {{ flat.rooms }} комн.</span><span><i
                                        class="fa fa-bed" aria-hidden="true"></i>{{ flat.numberofbeds }}</span>
                            {#{% if flat.wifi == 1 %}#}
                                {#<i class="fa fa-wifi" aria-hidden="true"></i>#}
                            {#{% endif %}#}

                            {#{% if flat.parking == 1 %}#}
                                {#<i class="fa fa-car" aria-hidden="true"></i>#}
                            {#{% endif %}#}
                            <span style="float:right; font-size: 16px; font-weight: 600; color: #864bff;">{{ flat.priceday }} BYN/сут</span>
                        </div>
                    </div>
                </div> <!-- end listing-single -->

            </div>
        {% else %}

            <h2>Квартиры не найдены</h2>
        {% endfor %}





    <div class="container" style="margin-top: 2%;">

        <div class="row">

            {% for City in City %}
                {{ City.text|raw }}
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}



{% block javascripts %}

    <script src="{{ asset('js/core.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('slider/jQAllRangeSliders-min.js') }}"></script>
    <!-- slider -->
    <script>

        $("#slider")
            .editRangeSlider({arrows: false}, {bounds: {min: 0, max: 200}}, {
                defaultValues: {
                    min: 0,
                    max: 200
                }
            }, {step: 1})
            .on("valuesChanging", function (e, data) {
                $("#flatbel_flatbundle_filter_pricehour").val(data.values.min);
                $("#flatbel_flatbundle_filter_priceday").val(data.values.max);
            });

    </script>
    <!-- slider -->

{% endblock %}