{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends '::base.html.twig' %}


{% block title %}Обратная связь{% endblock %}

{% block body %}
    <div class="well" style="margin-top: 5%">
        <header>
            <h1>Обратная связь.</h1>
        </header>

        {% for flashMessage in app.session.flashbag.get('contact-notice') %}
            <span class="label label-info">
            {{ flashMessage }}
        </span>
        {% endfor %}

        <p>Хотите связаться с нами?</p>

        {{ form_start(contact_form, { 'action': path('FlatbelFlatBundle_contact'), 'method': 'POST', 'attr': {'class': 'form-info'} }) }}
        {{ form_errors(contact_form) }}

        {{ form_row(contact_form.name) }}
        {{ form_row(contact_form.email) }}
        {{ form_row(contact_form.subject) }}
        {{ form_row(contact_form.body) }}

        {{ form_rest(contact_form) }}

        <input type="submit" value="Submit"/>
    </div>

{% endblock %}
