{{ form_start(filter_form, { 'action': path('FlatbelFlatBundle_homepage'), 'method': 'POST', 'attr': {'class': 'flatbel'} }) }}
                {{ form_errors(filter_form) }}

{{ form_row(filter_form.flattype) }}
{{ form_row(filter_form.numberofbeds) }}

{{ form_rest(filter_form) }}

<p>
    <input type="submit" value="Фильтровать">
</p>