{% trans_default_domain 'FOSUserBundle' %}

  {% block stylesheets %}
      {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
          <link rel="stylesheet" href="{{ asset(stylesheet) }}">
      {% endfor %}
      <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
      <link href="{{ asset('css/style.css') }}" rel="stylesheet">
      <link href="{{ asset('css/vendor-styles.css') }}" rel="stylesheet">
      <link href="{{ asset('fontawesome/css/font-awesome.css') }}" rel="stylesheet">
      {% stylesheets '@bootstrap_css' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
      {% endstylesheets %}

  {% endblock %}


<div class="an-page-content">
    <div class="container">
        <div class="row" style="margin-top:3%;">
            <div class="col-md-3">
                <div class="an-sidebar">
                    <div class="an-sidebar-search">


                        <div class="slimScrollDiv"
                             style="position: relative; overflow: hidden; width: auto; height: 454px;">
                            <section class="sidebar" style="height: 454px; overflow: hidden; width: auto;">
                                <ul class="sidebar-menu">
                                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                                        <li class="last treeview">
                                            <a href="/admin/flatbel/flat/user/list"><i class="fa fa-link"></i><span>Пользователи</span></a>
                                            <a href="/admin/admin/list"><i class="fa fa-link"></i><span>Все квартиры</span></a>
                                            <a href="/admin/flatbel/flat/city/list"><i class="fa fa-link"></i><span>SEO</span></a>
                                            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-link"></i><span>Профиль</span></a>
                                            <a href="/admin/user/list"><i class="fa fa-link"></i><span>Мои квартиры</span></a>
                                        </li>
                                    {% else %}
                                        <li class="last treeview">
                                            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-link"></i><span>Профиль</span></a>
                                            <a href="/admin/user/list"><i class="fa fa-link"></i><span>Список Квартир</span></a>
                                            <a href="/admin/user/create"><i class="fa fa-link"></i><span>Создать Квартиру</span></a>

                                        </li>

                                    {% endif %}
                                </ul>

                            </section>
                            <div class="slimScrollBar"
                                 style="background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 454px;"></div>
                            <div class="slimScrollRail"
                                 style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                        <a href="#">


                        </a></div>
                    <a href="#"> <!-- end sidebar-search -->
                    </a></div>
                <a href="#"> <!-- end an-sidebar -->
                </a></div>
            <div class="col-md-9">


                <div class="content-wrapper" style="min-height: 454px;">
                    <section class="content-header">

                    </section>

                    <section class="content">


                        <div class="sonata-ba-content">
                            <div class="row">


                                <div class="col-md-12">
                                    {#<div id="cms-block-5a5a20e488e76" class="cms-block cms-block-element">#}


                                    {#<div class="box">#}
                                    {#<div class="box-header">#}
                                    {#<h3 class="box-title">Пользователь</h3>#}
                                    {#</div>#}
                                    {#<div class="box-body">#}
                                    {#<table class="table table-hover">#}
                                    {#<tbody>#}
                                    {#<tr>#}
                                    {#<td class="sonata-ba-list-label" width="40%">#}
                                    {#Квартиры#}
                                    {#</td>#}
                                    {#<td>#}
                                    {#<div class="btn-group">#}
                                    {#<a class="btn btn-link btn-flat" href="/admin/user/create">#}
                                    {#<i class="fa fa-plus-circle" aria-hidden="true"></i>#}
                                    {#Добавить новый#}
                                    {#</a>#}
                                    {#<a class="btn btn-link btn-flat" href="/admin/user/list">#}
                                    {#<i class="fa fa-list" aria-hidden="true"></i>#}
                                    {#Список#}
                                    {#</a>#}
                                    {#</div>#}
                                    {#</td>#}
                                    {#</tr>#}
                                    {#</tbody>#}
                                    {#</table>#}
                                    {#</div>#}
                                    {#</div>#}
                                    {#</div>#}

                                    <div class="content-body" style="text-align: center; padding-top:3%;">
                                        <div class="row">
                                            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                                            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                                            <a href="{{ path('fos_user_profile_edit') }}">Редактировать профиль</a></br>
                                            <a href="{{ path('fos_user_change_password') }}">Изменить пароль</a>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>


                    </section>
                </div>



            </div>

            <a href="#"> <!-- end col-md-3 -->
            </a></div>
        <a href="#">
        </a></div>
    <a href="#">
    </a></div>



