{% trans_default_domain 'FOSUserBundle' %}

<div class="content-body" style="text-align: center; padding-top:3%;">
    <div class="row">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a href="{{ 'edit' }}">Изменить пароль</a>
    <a href="{{ '../admin' }}">Мои квартиры</a>
    </div>
</div>
