{% extends '::base.html.twig' %}

{% block title %}{{ flat.description }}{% endblock %}

{% block body %}
    <article>
        <section>
            <div class="block" style="margin-top: 4%">
                <header>
                    <h1>{{ flat.streettype }} {{ flat.street }} {{ flat.home }}</h1>
                </header>
                <div class="row">
                    <img src="{{ asset(['uploads/photos/', flat.mainphoto]|join) }}" alt="{{ flat.description }} image not found" style="width: 150px"/>
                    <img src="{{ asset(['uploads/photos/', flat.photo1]|join) }}" alt="{{ flat.description }} image not found" style="width: 150px"/>
                    <img src="{{ asset(['uploads/photos/', flat.photo2]|join) }}" alt="{{ flat.description }} image not found" style="width: 150px"/>
                    <img src="{{ asset(['uploads/photos/', flat.photo3]|join) }}" alt="{{ flat.description }} image not found" style="width: 150px"/>
                </div>
                <div class="row">
                    <div class="list-group">
                        <div class="list-group-item">
                            Тип квартиры:
                            {{ flat.flattype }}
                        </div>
                        <div class="list-group-item">
                            Кол-во спальных мест:
                            {{ flat.numberofbeds }}
                        </div>
                        <div class="list-group-item">
                            Кол-во комнат:
                            {{ flat.rooms }}
                        </div>
                        <div class="list-group-item">
                            Этажей в доме:
                            {{ flat.floorhome }}
                        </div>
                        <div class="list-group-item">
                            Этаж:
                            {{ flat.floor }}
                        </div>
                        <div class="list-group-item">
                            Ближайшее метро:
                            {{ flat.metro }}
                        </div><div class="list-group-item">
                            Номер телефона:
                            <a href="callto: {{ flat.telnumber }}">{{ flat.telnumber }}</a>
                        </div>
                        <div class="list-group-item">
                            Цена за день:
                            {{ flat.priceday }}
                        </div>
                        <div class="list-group-item">
                            Цена за час:
                            {{ flat.pricehour }}
                        </div>
                        <div class="list-group-item">
                            Цена за ночь:
                            {{ flat.pricenight }}
                        </div>
                        <div class="list-group-item">
                            Телефизор:
                            <span class="glyphicon glyphicon-{{ flat.tv }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Wi-Fi:
                            <span class="glyphicon glyphicon-{{ flat.wifi }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Паркинг:
                            <span class="glyphicon glyphicon-{{ flat.parking }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Микроволновка:
                            <span class="glyphicon glyphicon-{{ flat.microwave }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Посудомоечная машина:
                            <span class="glyphicon glyphicon-{{ flat.washer }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Ванна:
                            <span class="glyphicon glyphicon-{{ flat.bath }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Душ:
                            <span class="glyphicon glyphicon-{{ flat.shower }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Холодильник:
                            <span class="glyphicon glyphicon-{{ flat.fridge }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Посуда:
                            <span class="glyphicon glyphicon-{{ flat.dishes }}" aria-hidden="true"></span>
                        </div>
                        <div class="list-group-item">
                            Постельное бельё:
                            <span class="glyphicon glyphicon-{{ flat.linens }}" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}