<html lang="en">
<head>
    <!-- Site Title-->
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    <title>{% block title %}Flatbel{% endblock %} - Flatbel</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ asset('Logo.png') }}"/>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link href="{{ asset('css/vendor-styles.css') }}" rel="stylesheet">
        <link href="{{ asset('fontawesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <meta name="yandex-verification" content="50cc81f45e862d59"/>
    <meta name="google-site-verification" content="FsVvvKlkqYprHA20OArEy6kEqtcTnSMbNEe5n1ZIMYQ"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter50037679 = new Ya.Metrika2({
                        id: 50037679,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/50037679" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116588905-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-116588905-3');
    </script>


</head>
<body>

<div id="an-main-wrapper">

    {% block header %}
    <header class="an-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('FlatbelFlatBundle_homepage') }}"
                       class="reveal-inline-block brand-name">
                        <img src="{{ asset('Logo.png') }}" height="60px" width="60px" alt="Logo"
                             class="img-responsive center-block">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('FlatbelFlatBundle_homepage') }}">Домашняя</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Обратная связь<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="mailto:flatbel@mail.ru">flatbel@mail.ru</a></li>
                            </ul>
                        </li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top: 15px; padding-bottom:15px;"><a class="an-btn an-btn-default"
                                                                               href="{{ path('FlatbelFlatBundle_flat_create') }}"><span>Добавьте свою квартиру</span></a>
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li style="padding-top:8px; padding-bottom:8px"><a style="font-size:12px;"
                                                                               class="sign-up-link"
                                                                               href="{{ path('fos_user_profile_show') }}">
<span class="glyphicon glyphicon-user"
      aria-hidden="true"></span> {{ app.user.username }}
                                </a>
                            </li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section>
        {% endblock %}
        {% block filter %}{% endblock %}

    </section>

    <div class="an-page-content">
    </div>
    {% block body %}
    {% endblock %}
    {% block footer %}
        <footer class="an-footer">
            <div class="container">
                <div class="an-footer-bottom">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="an-widget">
                                <img src="{{ asset('Logo.png') }}" style="width: 120px;" alt="Logo"
                                     class="img-responsive center-block">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="an-widget">
                                <h4 class="an-small-title light-color">Полезные ссылки</h4>
                                <ul>
                                    <li><a href="{{ path('FlatbelFlatBundle_homepage') }}">Главная</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="an-widget">
                                <h4 class="an-small-title light-color">Личный кабинет</h4>
                                <ul>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}
                                            </a>
                                        </li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="an-widget newsletter">
                                <h4 class="an-small-title light-color">Наши контакты</h4>
                                <p><a href="mailto:flatbel@mail.ru">Flatbel@mail.ru</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
            <div class="an-footer-copyright">
                <div class="container">
                    <div class="content">
                        <p class="copyrights">© 2018 Flatbel Все права сохранены </p>
                        <ul class="an-social-icons">
                            <span style="color: white;">Разработка и продвижение сайта - </span><a href="https://new-line.by">New Line Studio</a>
                            {#<li><a href="#"><i class="ion-social-twitter"></i></a></li>#}
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('js/core.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>



    {% endblock %}
</body>
</html>
