<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    <!-- Site Title-->
    <title>{% block title %}Flatbel{% endblock %} - Flatbel</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ asset('Logo.png') }}"/>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/vendor-styles.css') }}" rel="stylesheet">
        <link href="{{ asset('fontawesome/css/font-awesome.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>


<!-- Page-->

<div class="page">
    <!-- Page Header-->
    <div>

        <header class="an-header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('FlatbelFlatBundle_homepage') }}"
                                                            class="reveal-inline-block brand-name">
                                <img src="{{ asset('Logo.png') }}" height="60px" width="60px" alt="Logo"
                                     class="img-responsive center-block">
                            </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">





                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('FlatbelFlatBundle_homepage') }}">Домашняя</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Обратная связь<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="callto:375299407515">+375 29 940-75-15</a></li>
                                    <li><a href="callto:375259408617">+375 25 940-86-17</a></li>
                                    <li><a href="mailto:flatbel@mail.ru">flatbel@mail.ru</a></li>
                                </ul>
                            </li>




                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding-top: 15px; padding-bottom:15px;"><a class="an-btn an-btn-default" href="{{ path('FlatbelFlatBundle_flat_create') }}"><span>Добавьте свою квартиру</span></a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li style="padding-top:8px; padding-bottom:8px"><a style="font-size:12px;" class="sign-up-link" href="{{ path('fos_user_profile_show') }}">
                                            <span class="glyphicon glyphicon-user"
                                                  aria-hidden="true"></span> {{ app.user.username }}
                                    </a>
                                </li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

       {# <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap bg-gray-dark">
                <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                     data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                     data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="1px"
                     data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span>
                            </button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a href="{{ path('FlatbelFlatBundle_homepage') }}"
                                   class="reveal-inline-block brand-name">
                                    <img src="{{ asset('Logo.png') }}" height="60px" width="60px" alt="Logo"
                                         class="img-responsive center-block">
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li><a href="{{ path('FlatbelFlatBundle_homepage') }}">Домашняя</a></li>
                                <li><a href="{{ path('FlatbelFlatBundle_contact') }}">Обратная связь</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="callto:375299407515">+375 29 940-75-15</a></li>
                                        <li><a href="callto:375259408617">+375 25 940-86-17</a></li>
                                        <li><a href="mailto:flatbel@mail.ru">flatbel@mail.ru</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('FlatbelFlatBundle_flat_create') }}">Добавьте свою квартиру</a>
                                </li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{{ path('fos_user_profile_show') }}">
                                            <span class="glyphicon glyphicon-user"
                                                  aria-hidden="true"></span> {{ app.user.username }}
                                        </a>
                                    </li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">Войти</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">Зарегестрироваться</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>#}
        <!-- Swiper-->
        <section>
            <div class="swiper-slide-wrapper">
                {% block slide %}{% endblock %}
                {% block filter %}{% endblock %}
            </div>
        </section>
    </div>
    <!-- Page Content-->
    <main class="page-content">
        {% block body %}{% endblock %}
    </main>
    <!-- Page Footer-->
    <footer class="page-footer">
        <div class="shell shell-wide page-footer-min small">
            <div class="range range-xs-middle">
                <div class="cell-sm-6 text-sm-left">
                    <ul class="list-inline" style="padding: 5%">
                        {#<li><a href="#" class="icon fa-facebook"></a></li>#}
                        {#<li><a href="#" class="icon fa-twitter"></a></li>#}
                        {#<li><a href="#" class="icon fa-pinterest-p"></a></li>#}
                        {#<li><a href="#" class="icon fa-vimeo"></a></li>#}
                        {#<li><a href="#" class="icon fa-google-plus"></a></li>#}
                        {#<li><a href="#" class="icon fa-rss"></a></li>#}
                        <p>&#169; <span id="copyright-year"></span> Все права защищены.
                        </p>
                    </ul>
                </div>
                <div class="cell-sm-6 text-sm-left offset-top-20 offset-sm-top-0">

                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Java script-->
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/core.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {#<script src="{{ asset('js/selectize.min.js') }}"></script>#}
    <script src="{{ asset('js/scripts.js') }}"></script>


{% endblock %}
</body>
</html>