{% trans_default_domain 'FOSUserBundle' %}


<section class="section-80 section-md-50">
    <div class="shell">
        <ul class="nav-custom">
            <li><a href="{{ path('fos_user_security_login') }}" class="active">Login</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
        </ul>
        <div class="range range-xs-center">
            <div class="cell-sm-8 cell-md-6 cell-lg-4">
                <!-- RD Mailform-->
                {% if error %}
                    <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post" class="text-left">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}

                    <div class="form-group">
                        <label for="username"
                               class="form-label form-label-outside rd-input-label">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"
                               class="form-control form-control-gray form-control-has-validation form-control-last-child"/><span
                                class="form-validation"></span>
                    </div>

                    <div class="form-group">
                        <label for="password"
                               class="form-label form-label-outside rd-input-label">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required"
                               class="form-control form-control-gray form-control-has-validation form-control-last-child"/><span
                                class="form-validation"></span>
                    </div>

                    <div>
                        <input type="checkbox" id="remember_me" name="_remember_me"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit"
                           class="btn btn-primary btn-block btn-sm offset-top-22"
                           id="_submit"
                           name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </form>
            </div>
        </div>
    </div>
</section>
