{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block filter %}
    <article>
        <section>
            <div class="block" style="margin-top: 4%">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h1 class="panel-title">Фильтр</h1>
                    </div>
                    <div class="panel-body">
                        {% include 'FlatbelFlatBundle:Page:filter.html.twig' with {'filter_form': filter_form} %}
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}

{% block sidebar %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
